#cart-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 131, 59);

    margin-bottom: 200px;
    width: 100%;

    padding: 20px 0px;
}

.cart-title{
    display: flex;

    justify-content: center;
}

#cart-table{
    width: 90%;
    
}

#cart-table tbody td, #cart-table thead th{
    border: 2px solid black;
   
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 18px;

    height: 50px;

}

#cart-table tbody{
    background-color: orange;
}

.product-column{
    background-color:blanchedalmond;
    width: 30%;
}

.price-column{
    width: 10%;
    background-color:blanchedalmond;

}

.quantity-column{
    width: 12%;
    background-color:blanchedalmond;

}

.total-column{
    width: 10%;
    background-color:blanchedalmond;
}

.action-column{
    width: 10%;
    background-color:blanchedalmond;
}

#cart-actions{
    margin-top: 20px;
    width: 100%;
    margin-bottom: 20px;

    display: flex;
    justify-content: space-around;
    
}

.clear{
    color: darkred;
    border: 2px solid black;
    padding: 10px 12px;
    background-color: white;
    cursor: pointer;
    font-size: 16px;

    border-radius: 5px;

}

.clear:hover{
    background-color: darkred;
    color:white;
}

.update{
    background-color: white;
    border: 2px solid black;
    padding: 10px 12px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    color: rgb(53, 122, 32);

}

.update:hover{
    background-color: rgb(53, 122, 32);
    color:white;
}

.proceed{
    background-color: white;
    border: 2px solid black;
    padding: 10px 12px;
    color:rgb(203, 103, 2);

    cursor: pointer;

    font-size: 16px;
    border-radius: 5px;

}

.proceed:hover{
    background-color: green;
    color:rgb(255, 174, 93);
    font-weight: 500;
}

.clear:hover, .update:hover, .proceed:hover{
    

}

.clear:hover{

}

.action-data:hover{
    cursor: pointer;
    background-color:rgb(187, 0, 0);
}

.minus{
    margin-right: 20px;
    font-size: 25px;
    

    background-color: aliceblue;
    padding: 0px 10px;

    cursor: pointer;
}

.plus{
    margin-left: 20px;
    font-size: 25px;

    background-color: aliceblue;
    padding: 0px 8px;
    cursor: pointer;
}

.minus:active{
    background-color: rgb(187, 0, 0);
}

.plus:active{
    background-color: rgb(53, 122, 32);
}

@media screen and (max-width: 850px) {
    #cart-table{
        width: 95%;
    }

    .product-column{
        width: 10%;
    }

    .quantity-column{
        width: 20%;
    }

    #cart-actions{
        width: 200%;
    }
}

@media screen and (max-width: 620px) {
    .plus{
        margin-left: 10px;
    }

    .minus{
        margin-right: 10px;
    }

    .quantity-column{
        width: 40%;
    }

    #cart-table tbody td{
        height: 100px;
    }


}

@media screen and (max-width: 540px){
    .quantity-data{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        
        
    }

    .quantity-column{
        width: 10%;
    }
    .plus{
        margin-left: 0px;
        margin-bottom: 5px;
    }
    .minus{
        margin-right: 0px;
        margin-top: 5px;
    }

    #cart-table tbody td{
        height: 100px;
    }

    #cart-table{
        width: 70%;
    }

    #cart-actions{
        width: 180%;
    }
}

@media screen and (max-width: 400px) {
    #product-column{
        width: 20px;
    }

    #product-data{
        width: 20px;
    }
}